<template name="index">
    <h1>Welcome!</h1>
    <div>
        <a href="{{pathFor route='Sigin'}}" class="btn btn-primary btn-sm btn-info">Sign in</a> or
        <a href="{{pathFor route='Signup'}}" class="btn btn-primary btn-sm btn-success">Sign up</a>
    </div>
</template>