<template name="Graphics">
    {{#if currentUser}}
        <a href="#" name="logout" class="logout btn-default btn-xs btn-danger pull-right">Log out</a>
        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}
    {{/if}}
</template>