<template name="Sigin">
    <h2>Login</h2>
    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="col-md-4 col-md-offset-4">
                <form>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="alert alert-danger" id="alert" role="alert"></div>
                    <div><input type="submit" value="Login" class="btn btn-default"></div>
                </form>
            </div>
        </div>
    </div>
</template>